<% if @for_current_user && @domain %>
  <h2>Your Badges at <%= @domain.name %></h2>
<% elsif @user && @domain %>
  <h2>Badges for <%= @user.name || 'User' %> at <%= @domain.name %></h2>
<% end %>
<% if @badges.empty? %>
  <% if @for_current_user %>
    No Data available
  <% else %>
    <p>No Badges Earned or Shared</p>
  <% end %>
<% end %>
<table>
  <% @badges.each do |badge| %>
    <% badge_url = @for_current_user ? "/badges/check/#{badge.badge_placement_config_id}/#{badge.user_id}" : "/badges/criteria/#{badge.badge_config_id}/#{badge.config_nonce}?user=#{badge.nonce}" %>
    <tr style="border-bottom: 1px solid lightgray;" >
    <!--<td style='padding: 0 5px;'><a href='<%#= badge_url %>'><img src='<%#= badge.badge_url %>' class='thumbnail' alt='badge image'/></a></td>-->
      <td style='padding: 18px 14px;'>
        <img src='<%= badge.badge_url %>' class='' alt='badge image'/>
        <div style="color: #fff;font-weight:bolder;text-align:center;margin-top: -25px;"><%= UserBadgePlacement.all(user_id: badge.user_id.to_i,badge_id: badge.id).size %></div>
      </td>
    <td style='padding: 0 5px;'><%= badge.name %>
      <br/>
      <div style="font-size: 12px;margin-left: 14px;"><%= badge.description %></div>

      <% if @for_current_user %>
        <form class='form-inline' action='/badges/<% badge.nonce %>' style='margin: 0 0 0 15px;'>
        <label><input class='public_badge' <%= 'checked' if badge.public %> type='checkbox'/> show on my Jigsaw LMS profile</label>
        </form>
      <% end %>
    </td>
    </tr>
  <% end %>
</table>
<% if @for_current_user && !@badges.empty? %>
  <% url = "#{protocol}://#{request.host_with_port}/badges/all/#{params['domain_id']}/#{params['user_id']}" %>
  <br/><form class='form-inline'><label>Share this Page: <input type='text' value='<%= url %>'/></label></form>

    <a href="http://www.facebook.com/sharer/sharer.php?s=100&p[url]=<%= url %>&p[title]=<%="My Badge"%>&p[summary]=<%="My Badge"%>"onclick="javascript:window.open(this.href,
            '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=550,width=500');return false;" >
    <button class="btn" type="button" style="width:180px;"><img src="/fb.jpg" style="width:20px;float:left" > Share on Facebook</button></a><br><br>

    <a href="http://www.linkedin.com/shareArticle?mini=true&url=<%= url %> &title= <%= "My Badge" %> &summary= <%= "My Badge" %> "onclick="javascript:window.open(this.href,
            '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=550,width=500');return false;">
    <button class="btn" type="button" style="width:180px;"><img src="/li.jpg"style="width:20px;float:left" > Share on Linkedin</button></a><br><br>

    <a href="http://twitter.com/intent/tweet?&url=<%= url %> &text= <%=  url %> " onclick="javascript:window.open(this.href,
            '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=550,width=500');return false;">
    <button class="btn" type="button" style="width:180px;"><img src="/tw.jpg" style="width:20px;float:left">Tweet on Twitter</button></a><br><br>

    <a href="http://plus.google.com/share?url= <%= url %>" onclick="javascript:window.open(this.href,
            '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=550,width=500');return false;">
    <button class="btn" type="button" style="width:180px;"><img src="/gogl.jpg" style="width:20px;float:left">Share on Google+</button></a>

<% end %>
